<div *ngIf="viewMode; else editable">
  @if(currentUser.id){
  <h4>User</h4>
  <div>
    <label>
      <strong>First name:</strong>
    </label>
    {{ currentUser.firstName }}
  </div>
  <div>
    <label>
      <strong>Last name:</strong>
    </label>
    {{ currentUser.lastName }}
  </div>
  <div>
    <label>
      <strong>Email:</strong>
    </label>
    {{ currentUser.email }}
  </div>
  <div>
    <label>
      <strong>Phone:</strong>
    </label>
    {{ currentUser.phoneNumber }}
  </div>
  <a routerLink="/users/{{ currentUser.id }}">Edit</a>
  }
  @else if(itemsCount > 0){
  <div>
    <br />
    <p>Please click on a user to show details...</p>
  </div>
  }
</div>

<ng-template #editable>
  <div *ngIf="currentUser.id" class="edit-form">
    <h4>User</h4>
    <form>
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="currentUser.firstName" name="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="currentUser.lastName" name="lastName" />
      </div>
      <div class="form-group">
        <label for="email">Last name</label>
        <input type="text" class="form-control" id="email" [(ngModel)]="currentUser.email" name="email" />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="currentUser.phoneNumber" name="phoneNumber" />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="onDeleteUser()">Delete</button>

    <button type="submit" class="badge badge-success mb-2" (click)="updateUser()">Update</button>

    <button type="submit" class="badge badge-success mb-2" (click)="onCancel()">Cancel</button>

    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentUser.id">
    <br />
    <p>User cannot be found.</p>
  </div>
</ng-template>


<!--<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <h4>Tutorial</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentTutorial.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentTutorial.description }}
    </div>
    <div>
      <label><strong>Status:</strong></label>
      {{ currentTutorial.published ? "Published" : "Pending" }}
    </div>

    <a
      class="badge badge-warning"
      routerLink="/tutorials/{{ currentTutorial.id }}"
    >
      Edit
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentTutorial.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentTutorial.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentTutorial.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentTutorial.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>-->
