<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search users" [(ngModel)]="search" />
      <div class="input-group-append">
        <button style="margin:10px;" class="btn btn-outline-secondary" type="button" (click)="refreshList()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Users List</h4>
      @if (paginatedUsers?.items) {
      <kendo-grid [data]="gridData" [navigable]="true" [selectable]="{ mode: 'single' }">
        <kendo-grid-column field="firstName" title="First name"></kendo-grid-column>
        <kendo-grid-column field="lastName" title="Last name"></kendo-grid-column>
        <kendo-grid-column>
          <ng-template kendoGridCellTemplate let-dataItem>
            <button type="button" kendoButton [look]="'outline'" (click)="showDetails($event, dataItem)">Show details</button>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
      }
      @else
      {
      <h1>There are no items.</h1>
      }

  </div>
  <div class="col-md-6">
    <app-user-details [viewMode]="true" [itemsCount]="itemsCount" [currentUser]="currentUser"></app-user-details>
  </div>
</div>



<!--<ng-template kendoGridDetailTemplate let-dataItem>
  <strong>Manager:</strong> {{ dataItem.id }}
</ng-template>-->
<!--<kendo-grid-column title="Custom">
  <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
    <button type="button" class="k-button" (click)="showDetails($event, dataItem)">Open Popup</button>
  </ng-template>
</kendo-grid-column>-->
<!--<kendo-grid [data]="gridData" [selectable]="{ mode: 'single' }" [navigable]="true" [height]="300">-->
<!--<kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>-->
<!--<kendo-grid-column field="ProductName" title="Product Name"></kendo-grid-column>
  <kendo-grid-column field="UnitsInStock" title="Units In Stock"></kendo-grid-column>
  <kendo-grid-column field="UnitsOnOrder" title="Units On Order"></kendo-grid-column>
  <kendo-grid-column field="ReorderLevel" title="Reorder Level"></kendo-grid-column>
</kendo-grid>-->
<!--<kendo-grid [data]="gridData" [height]="300" [selectable]="selectableSettings"
            [cellSelected]="isCellSelected">
  <kendo-grid-column field="ProductName" title="Product Name"></kendo-grid-column>
  <kendo-grid-column field="UnitsInStock" title="Units In Stock"></kendo-grid-column>
  <kendo-grid-column field="UnitsOnOrder" title="Units On Order"></kendo-grid-column>
  <kendo-grid-column field="ReorderLevel" title="Reorder Level"></kendo-grid-column>
</kendo-grid>-->
<!--<kendo-popup style="width: calc(100% - 88px); z-index: 10002;"
             popupClass="custom-popup"
             [anchor]="anchorElement"
             *ngIf="show">
  Details for: {{ currentUser.firstName }}... custom content
  <span class="k-icon k-i-close-outline k-i-x-outline"
        style="position: absolute; right: 0;"
        (click)="closePopup()"></span>
</kendo-popup>-->
