<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search users" [(ngModel)]="search" />
      <div class="input-group-append">
        <button style="margin:10px;" class="btn btn-outline-secondary" type="button" (click)="refreshList()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Users List</h4>
    <ul class="list-group">
      @if (paginatedUsers?.items) {
      @for (user of paginatedUsers?.items; track user.id) {
      <li class="list-group-item" [class.active]="user.id == userIndex" (click)="setActiveUser(user, user.id)">
        {{ user.firstName }} {{ user.lastName }}
      </li>
      } @empty {
      <li>There are no items.</li>
      }
      }
    </ul>

  </div>
  <div class="col-md-6">
    <app-user-details [viewMode] ="true" [currentUser]="currentUser"></app-user-details>
  </div>
</div>
